---
layout: layouts/_default.njk
---

<div class="at-container">
  <h1>Hello from Artemis!</h1>

  <p>
    This 11ty starter kit is designed to work with the Artemis Toolkit, developed by
    the engineers at StackUp Digital.
  </p>

  <div class="at-grid">
    <div class="at-col-3">
      <article class="at-card">
        <div class="at-card__content">
          <h2>My Card</h2>
          <p>
            This is an example of a card that will contain some information.
            For more information about the <b>Artemis Toolkit</b> then visit
            our documentation.
          </p>
        </div>

        <footer class="at-card__footer">
          <a href="#" class="at-button at-card__footer-item is-primary">Read Docs</a>
        </footer>
      </article>
    </div>
  </div>
</div>